{% extends 'crudlfap/base.html' %}

{% import 'crudlfap.html' as crudlfap %}

{% block breadcrumb %}
{% include 'crudlfap/_breadcrumb_object.html' %}
{% endblock %}

{% block after_container %}
{{ super() }}
<div style="display: none" class="bottom center-align" id="listaction">
  {{ crudlfap.dropdown(
    view.listactions,
    'listaction-dropdown',
    class='btn waves-effect waves-light',
    text='select',
    iclass='left',
  ) }}
</div>
{% endblock %}

{% block content %}
<style type="text/css">
#render-table .btn-floating { margin-left: 6px; }
</style>

<div class="row">
  {% if view.search_form or view.filterset.form.fields %}
  <div class="col s12 m3">
    <div class="card-panel">
      <form method="get" action="" data-controller="autosubmit" data-target="render-table" data-action="input->autosubmit#input change->autosubmit#input">
        {{ render_form(view.search_form) }}
        {{ render_form(view.filterset.form) }}
      </form>
    </div>
  </div>
  {% endif %}

  <div class="table-responsive col s12 {% if view.search_form or view.filterset.form.fields %}m9{% endif %}" id="render-table">
    <div class="card-panel">
      <div class="table-container">
        {{ view.table.as_html(request) }}
      </div>
      {% include 'crudlfap/_pagination.html' %}
    </div>
  </div>
</div>
{% endblock %}
